<!-- Local Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

<footer class="mt-4 pb-4">
    <h2 class="pt-4 pb-3">Follow us:</h2>
    <!-- Social Icons -->
    <div class="social-icons pt-3 pb-3">
        <a href="https://github.com/drga9808"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/drga98"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <!-- Website Pages -->
    <div class="pages py-3 mb-2">
        <a href="/">Home</a>
        <a href="/#about"> About</a>
        <a href="https://wa.me/17867420728" target="_blanck"> Contact</a>
    </div>
    <a href="mailto:info@toyotahacks.com">Email Us</a>
    <p class="pb-0 pt-4 mb-0">@ 2025 Toyota Hacks</p>
    <small>Not affiliated with Toyota Motor Corp</small>

</footer>

</html>