<!-- Local Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<footer class="pb-4">
    <h2 class="pt-4 pb-3">Follow us:</h2>
    <!-- Social Icons -->
    <div class="social-icons pt-3 pb-3">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <!-- Website Pages -->
    <div class="pages py-3">
        <p>Home</p>
        <p>About</p>
        <p>Contact</p>
    </div>
    <p>info@toyotahacks.com</p>
    <p class="pb-0 pt-3 mb-0">@ 2025 Toyota Hacks</p>
    <small>Not affiliated with Toyota Motor Corp</small>

</footer>

</html>