<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toyota Hacks</title>

    <!-- CSS Style -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Local Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Montserrat Font-Family -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!-- Font Awasome (Icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<header class="d-flex py-3">
    <div class="container header-inner">
        <a href="/">Home</a>
        <p class="ms-auto">En</p>
    </div>
</header>

<body>