<!---------------------------- Header ---------------------------->
<%- include('partials/header.ejs') %>

    <!---------------------------- Hero ---------------------------->
    <section class="hero">
        <div class="container">
            <h1>Toyota Hacks Blog</h1>
            <img src="https://res.cloudinary.com/dcco4yq4l/image/upload/v1748372259/hero.png"
                alt="Toyota car in a clean auto repair shop.">
            <div class="quotation">
                <i class="fas fa-quote-left quote-icon"></i>
                <div class="quote-text">
                    <h2>Toyota cars are the best ...</h2>
                    <p>... but they need maintenance too."</p>
                </div>
            </div>
        </div>
    </section>

    <!---------------------------- Description ---------------------------->
    <section>
        <div class="container description">
            <p>Welcome to <b>Toyota Hacks</b> — your go-to resource for keeping your Toyota running like new.</p>
            <p>Whether you’re tackling routine maintenance, fixing common issues, or tracking down quality parts, we’ve
                got
                your back with practical guides, smart advice, and time-saving tips.</p>
            <u>What you’ll find here:</u>
            <ul>
                <li>🚗  Step-by-step maintenance tutorials</li>
                <li>🔧  Quick DIY repair walkthroughs</li>
                <li>🛒  Smart sourcing tips for OEM & aftermarket parts</li>
                <li>🧰  Clever hacks to extend your vehicle’s life</li>
            </ul>
        </div>
    </section>

    <!---------------------------- Footer ---------------------------->
    <%- include('partials/footer.ejs') %>