<!---------------------------- Header ---------------------------->
<%- include('partials/header.ejs') %>

    <!---------------------------- Hero ---------------------------->
    <section class="hero">
        <div class="container">
            <h1>Toyota Hacks Blog</h1>
            <img src="https://res.cloudinary.com/dcco4yq4l/image/upload/v1748372259/hero.png"
                alt="Toyota car in a clean auto repair shop.">
            <div class="quotation">
                <i class="fas fa-quote-left quote-icon"></i>
                <div class="quote-text">
                    <h2>Toyota cars are the best ...</h2>
                    <p>... but they need maintenance too."</p>
                </div>
            </div>
        </div>
    </section>

    <!---------------------------- Description ---------------------------->
    <section>
        <div class="container description">
            <p>Welcome to <b>Toyota Hacks</b> — your go-to resource for keeping your Toyota running like new.</p>
            <p>Whether you’re tackling routine maintenance, fixing common issues, or tracking down quality parts, we’ve
                got
                your back with practical guides, smart advice, and time-saving tips.</p>
            <u>What you’ll find here:</u>
            <ul>
                <li>🚗 Step-by-step maintenance tutorials</li>
                <li>🔧 Quick DIY repair walkthroughs</li>
                <li>🛒 Smart sourcing tips for OEM & aftermarket parts</li>
                <li>🧰 Clever hacks to extend your vehicle’s life</li>
            </ul>
        </div>
    </section>

    <!---------------------------- Posts ---------------------------->
    <section>

        <div class="container posts">

            <h2 class="section-title">Latest Posts</h2>
            
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dcco4yq4l/image/upload/v1748372263/parts.png"
                            class="card-img-top" alt="Toyota parts photo.">
                        <div class="card-body">
                            <h5 class="card-title">Toyota Original Parts</h5>
                            <p class="card-text">Toyota original parts have no equal. People usually associate original
                                parts with EXPENSIVE DEALERSHIPS…</p>
                            <span>📂 Category: Parts</span>
                            <span>📅 May 2025</span>
                            <span>⏱ 3 min read</span>
                        </div>
                        <a class="post-link" href="">Read more...</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dcco4yq4l/image/upload/v1748372263/parts.png"
                            class="card-img-top" alt="Toyota parts photo.">
                        <div class="card-body">
                            <h5 class="card-title">Toyota Original Parts</h5>
                            <p class="card-text">Toyota original parts have no equal. People usually associate original
                                parts with EXPENSIVE DEALERSHIPS…</p>
                            <span>📂 Category: Parts</span>
                            <span>📅 May 2025</span>
                            <span>⏱ 3 min read</span>
                        </div>
                        <a class="post-link" href="">Read more...</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!---------------------------- Footer ---------------------------->
    <%- include('partials/footer.ejs') %>